[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tornado = "*"
loguru = "*"
jwt = "*"
sqlalchemy = "*"
pycodestyle = "*"
inject = "*"

[dev-packages]

[requires]
python_version = "3.8"
